body {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    height: 100%
    }

.header{
    width: 100%;
    background-color: rgb(193, 193, 109);
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    border: 1px solid black;
    box-shadow: 10px;
    border-radius: 10px;
    background-color: beige;
    row-gap: 20px
}

p{
    font-size: x-large;
    font-weight: bolder;
}
input{
    padding: 5px;
}
button{
    padding: 5px;
}
button:hover{
    background-color: rgb(131, 255, 59);
}
button:hover:active{
    background-color: brown;
}